*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/weatherbglight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: 80%;
}
.theme-btn-position{
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
}
.theme-dark{
    background-image: url("../assets/weather-app-background.jpg");
}
.labelDarkMode{
    color: #BDC3C7;
}
.navbar-edit{
    font-size:24px;
    font-weight: bolder;
    opacity: 0.9;
    position: sticky;
    top: 0;
}
.navbar-components{
    padding-left: 80px;
    max-width: max-content;
}
.navbar-location{
    color: #2c3e50;
    padding-left: 150px;
    padding-right: 150px;
}
.weatherwiseImg{
    width: 180px;
    height: 65px;
    border-radius: 5%;
}
.d-flex{
    width: 90%;
    max-width: 500px;
    margin: 5px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}
.btn-success-edit{
    background-color:rgb(43, 36, 36);
}
.alert-set{
    width: 90%;
    max-width: 400px;
    margin: 2px auto 0;
    display: none;
}
table{
    width: max-content;
    position: relative;
    margin: 5px auto 0;
}
.weather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    width: 50%;
    max-width: 700px;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.currentWeatherImg{
    width:max-content;
    height: 200px;
}
.location{
    color: white;
}
.temp{
    color: white;
    font-size: 64px;
    font-weight: bold;
}
.condition, .humidity, .windSpeed, .minmaxTemp, .sunrise{
    color: #BDC3C7;
    text-align: right;
}
.conditionValue, .humidityValue, .windSpeedValue, .minmaxTempValue, .sunriseValue{
    color: white;
    font-weight:bold;
    text-align: left;
    padding-left: 10px;
}
.forecastorpastDay{
    color:#d1d8e0;
    text-align: center;
    text-decoration: underline;
}
.minmaxTempValue{
    color: white;
    text-align: left;
    font-weight:bold;
    padding-left: 10px;
}
.forecastWeather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 10px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: 300px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.forecastConditionImage{
    margin-right: 30px;
}
.pastWeather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 10px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: 275px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.carousel-size{
    width: max-content;
    position: relative;
    margin: 5px auto 0;
    text-align: center;
}