*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/weatherbglight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: 80%;
}
.theme-btn-position{
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
}
.labelDarkMode{
    color: white;
}
.form-check-label{
    font-weight: bolder;
    font-size: large;
    max-width: max-content;
    font-family:'Courier New', Courier, monospace;
    z-index: 1;
}
.theme-dark{
    background-image: url("../assets/background-dark.jpg");
}
.navbar{
    opacity: 0.95;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-components{
    padding-left: 80px;
    max-width: max-content;
}
.navbar-location{
    color: #2c3e50;
    padding-left: 150px;
    padding-right: 150px;
}
.nav-link{
    font-weight: bolder;
    max-width: max-content;
}
.weatherwiseImg{
    width: 150px;
    height: 50px;
    border-radius: 5%;
}
.d-flex{
    width: 90%;
    max-width: 500px;
    margin: 5px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}
.btn-success-edit{
    background-color:rgb(43, 36, 36);
}
.alert-set{
    width: 90%;
    max-width: 400px;
    margin: 2px auto 0;
    display: none;
}
table{
    max-width: max-content;
    position: relative;
    margin: 5px auto 0;
}
.weather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    width: 50%;
    max-width: max-content;
    max-height: max-content;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.weather-dark{
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}
.currentWeatherImg{
    width:max-content;
    height: 80px;
}
.location{
    color: white;
}
.temp{
    color: white;
    font-size: 64px;
    font-weight: bold;
}
.condition, .humidity, .windSpeed, .minmaxTemp, .sunrise{
    color: #BDC3C7;
    text-align: right;
}
.conditionValue, .humidityValue, .windSpeedValue, .minmaxTempValue, .sunriseValue{
    color: white;
    font-weight:bold;
    text-align: left;
    padding-left: 10px;
}
.weatherCurrent :after{
    content: "";
    display: table;
    clear: both;
}
.weatherCurrent{
    margin-left: 50px;
}
.hourly-forecast-header{
    color:#d1d8e0;
    margin: 20px;
    margin-bottom: 40px;
}
.todayWeather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 20px;
    width: 60%;
    max-height: max-content;
    display:flex;
    flex-direction: column;
    position: relative;
    max-width: max-content;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: row;
    max-width: max-content;
}
.card-img-top{
    width: max-content;
}
.forecastorpastDay{
    color:#d1d8e0;
    text-align: center;
    text-decoration: underline;
}
.minmaxTempValue{
    color: white;
    text-align: left;
    font-weight:bold;
    padding-left: 10px;
}
.forecastWeather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 20px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: max-content;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.forecastConditionImage{
    text-align: center;
}
.pastWeather{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 20px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: max-content;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.carousel-size{
    width: max-content;
    position: relative;
    margin: 5px auto 0;
    text-align: center;
}