*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #DFE6E9;
}
.weatherwiseImg{
    width: 140px;
    height: 50px;
    border-radius: 10%;
}
.d-flex{
    width: 90%;
    max-width: 500px;
    margin: 5px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}
table{
    width: max-content;
    position: relative;
    margin: 5px auto 0;
}
.weather{
    float: left;
    background-color:#34495E;
    width: 50%;
    max-width: 700px;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.location{
    color: white;
}
.temp{
    color: white;
    font-size: 64px;
    font-weight: bold;
}
.condition{
    color: #BDC3C7;
    text-align: right;
}
.conditionValue{
    color: white;
    font-weight:bold;
    text-align: left;
    padding-left: 10px;
}
.humidity{
    color: #BDC3C7;
    text-align: right;
}
.humidityValue{
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.windSpeed{
    color: #BDC3C7;
    text-align: right;
}
.windSpeedValue{
    color: white;
    font-weight:bold;
    text-align: left;
    padding-left: 10px;
}
.forecastorpastDay{
    color:#bdc3c7;
    text-align: center;
    text-decoration: underline;
}
.minmaxTemp{
    color: #BDC3C7;
    text-align: right;
}
.minmaxTempValue{
    color: white;
    text-align: left;
    font-weight:bold;
    padding-left: 10px;
}
.sunrise{
    color: #BDC3C7;
    text-align: right;
}
.sunriseValue{
    color: white;
    text-align: left;
    font-weight:bold;
    padding-left: 10px;
}
.forecastWeather{
    float: left;
    background-color: #34495E;
    margin: 5px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: 300px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.pastWeather{
    float: left;
    background-color: #34495E;
    margin: 5px;
    width: 50%;
    position: relative;
    max-width: 700px;
    max-height: 300px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.carousel-size{
    width: max-content;
    position: relative;
    margin: 5px auto 0;
    text-align: center;
}